.animals-container {
  display:flex;
  justify-content: space-evenly;
}

.animal-card{
  width: 200px;
  text-align: center;
  border: 2px dashed pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}

/* .animal-card img{
  width:100%;
}

.animal-image {
  height: 150px;
  overflow: hidden;
} */

.animal-card img{
  height: 100%;
}

.animal-image {
  height: 150px;
}